In [1]:
print("Asd")

Asd

In [2]:
123+123.0

246.0

In [3]:
x = [1,2,3,4,5]
x[2]

3

In [4]:
x[2] = x[2]+100
x

[1, 2, 103, 4, 5]

In [5]:
set = {9,9,8,8,7,7}
set

{7, 8, 9}

In [6]:
x["b"]=23
x

TypeError: list indices must be integers or slices, not str

In [7]:
x

[1, 2, 103, 4, 5]

In [ ]:
x=[1,2,3,4,5]+[1,2,3]
x*3

In [ ]:
x = 123

In [ ]:
x= 456

In [ ]:
x= x+10

In [ ]:

print(x)

In [ ]:
x=[1,2,3,4,5,6,7,8,9]
x[5]+= 10
print(x[5])

In [ ]:
y=(1,2,3,4,5,6,7,8,9)
y[5] += 10

In [ ]:
print("adgdg",end = "QQQQQ")

In [ ]:
input("숫자를 하나 적어주세요:")

In [ ]:
"이것은 문자열입니다".split("열")

In [ ]:
''.join(['이것은','입니다'])

In [ ]:
"이이이이이이것은 문자열입니다".strip("이다")

In [ ]:
x="이것은 문자열입니다".replace("문자열","")
x

In [ ]:
"이것은 문자열입니다".split(" ")# ->"이것은","입니다"

In [ ]:
18615"이이이이이이것은 문자열입니다".strip("것이다니입열것자")#->"것은 문자열입니"

In [ ]:
hello = "hello,"
python = "python"
print(hello,python)

In [ ]:
print("hello, python")

In [ ]:

try:
    123/1=x
    123/0
    123/2 = y
    
except:
    print("0으로 나눴어요")

In [ ]:
x = int(input("숫자 하나를 입력해주세요:"))

try:
    print(123/x)
except:
    print(123/0.0000001)

In [ ]:
import re
re.sub("[0-9]","*","안녕123나는456잎싹이야789")#sub는 문자열 3개 입력받는다.
re.sub("4\d\d\d\d\d\d","4******","001122-4123467")

In [ ]:
password = "비밀번호는 다음과 같습니다 = password123!"
re.sub('[가-힣= ]','',password)

In [ ]:
re.sub('[가-힣= ]','',password)

In [ ]:
re.sub("\d+","123456",str2)

In [ ]:
#str1의 숫자를 123456으로 바꾸자
str1 = "hello~000000python"
#str2의 숫자를 123456으로 바꾸자
str2 = "hello~123456python"
#str3의 XXX를 리스트로 리턴하자 단X는 임의의 숫자이다
str3 = "hello~643-444python"

In [ ]:
re.sub("000000","123456",str1)#문제 1번
#강사님 풀이
#str1.replace('000000','123456')
#+내가 푼 풀이
#+re.sub('\d\d\d\d\d\','123456',str1)
#+re.sub('\d+','123456',str1)

In [ ]:
#re.sub("[0-9][0]","123456",str2)#문제 2번
#강사님풀이
#re.sub('\d+','123456',str1)
re.sub('\d+',"123456",str2)

In [ ]:
# str3 = "hello~456-987python"
# x=re.sub("[a-z~]","",str3)
# x
# x.split("-")#문제 3번
#findall이 더 현명한 방법같음


re.findall("\d\d\d",str3)

In [ ]:
re.match('H', 'HELLO123&&*')

In [ ]:
import re

# 대상 문자열
txt = '파이썬오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬'

# 한글 추출
korean_text = re.sub('[^가-힣]', '', txt)

# 콤마(,)를 기준으로 줄바꿈
formatted_text = re.sub('(?<=\S),', ',%\n', korean_text)

# '파이썬' 제거
txt3 = txt.replace('파이썬', '')

# 결과 출력
print(formatted_text)
print(txt3)

Version 1

In [ ]:
str3

In [ ]:
txt ="파이썬오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬"
#1모든 한글을 추출한다.
txt = re.sub("[a-zA-Z\t\n]","",txt)
txt
#2콤마를 기준으로 줄바꿈을 해본다
txt=txt.replace(",",",\n")
#print(txt)
#3"파이썬"이라는 글자를 지우고 txt3에 저장한다
txt3 = txt.split("파이썬")[1]
#출력 예시와 같이 출력한다
print(txt3)

Version 2

In [ ]:
txt ="파이썬오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬"
txt = re.sub("[a-zA-Z]","",txt)
#print(txt)
txt=txt.replace(",",",\n")
#print(txt)
txt3 = txt.split("파이썬")[1]
print(txt3)

#만약 파이썬이라는 글자를 txt3에 넣는거면

In [ ]:
txt3 = []
a="파이썬"
txt3.append(a)
txt3

In [ ]:
a="02-123-4567"
b='010-6543-9876'
c='02-4567-7890'
d='+82-10-6655-4433'
e = "저희 집 전화번호는 02-4567-7890입니다."

In [ ]:
a.split("-")[0]+a.split("-")[1]+a.split("-")[2]

In [ ]:
re.findall("\d+",a)[0]+re.findall("\d+",a)[1]+re.findall("\d+",a)[2]

In [ ]:
re.sub("[가-힣. -]","",e)
re.sub("WD","",e)

In [ ]:
y=re.sub('\+\d+-','0','+82-10-6655-4433')
z=re.sub("\D","",y)
z

In [ ]:
"rabbit and banana".split('and')

In [ ]:
'xoxoxoHELLOxoxoxo'.rstrip('xo')

In [ ]:
'red apple'.replace('red',
'green')

In [ ]:
set = {9,9,8,8,7,7}
set

In [ ]:
"이것은 문자열입니다".split("문자열")

In [ ]:
'문자열'.join(['이것은','입니다'])

In [ ]:
try:
    # 사용자로부터 두 개의 숫자 입력받기
    num1 = float(input("첫 번째 숫자를 입력하세요: "))
    num2 = float(input("두 번째 숫자를 입력하세요: "))

    # 숫자 덧셈 계산
    result = num1 + num2

    # 결과 출력
    print(f"두 숫자의 합: {result}")

except ValueError:
    print("숫자를 입력해주세요. 다시 실행해주세요.")

except Exception as e:
    print(f"오류 발생: {e}")

In [14]:
try:
    4 / 0
except ZeroDivisionError as e:
    print(e)
except:
    print("nono")

division by zero

In [16]:
x = int(input("숫자 하나를 입력해주세요:"))

try:
    print(123/x)
except:
    print(123/0.0000001)

숫자 하나를 입력해주세요:s

ValueError: invalid literal for int() with base 10: 's'